{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">
    <div class="row mb-3">
        <div class="col-lg-12 text-center bg-light-pink p-5 rounded">
            <h1>Contato</h1>
            <p>Entre em contato conosco! Adoramos ouvir nossos clientes e estamos sempre dispostos a ajudar. Você pode nos contatar por telefone ou visitando nossa loja física.</p>
        </div>
    </div>
    <div class="row mb-3 bg-pink p-4 rounded">
        <div class="col-md-12 text-center">
            <h3 class="text-dark">Informações de Contato</h3>
            <p class="text-dark">Email: contato@minhaloja.com</p>
            <p class="text-dark">Telefone: (11) 1234-5678</p>
            <p class="text-dark">Endereço: Rua Exemplo, 123, Centro, São Paulo, SP</p>
        </div>
    </div>
    <div class="row mb-3 bg-deep-pink p-4 rounded">
        <div class="col-md-12 text-center">
            <h3 class="text-dark">Redes Sociais</h3>
            <p class="text-dark">Siga-nos nas redes sociais para ficar por dentro das nossas novidades!</p>
            <a href="#" class="btn btn-primary me-2">Facebook</a>
            <a href="#" class="btn btn-info me-2">Instagram</a>
            <a href="#" class="btn btn-secondary">X</a>
        </div>
    </div>
</div>

{% endblock %}
