<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase text-dark">Cupcake</h5>
                <p class="text-dark">A melhor loja de cupcakes online. Delicie-se com nossos produtos!</p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-dark">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="{% url 'cake:home' %}" class="text-dark">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'cake:sobre' %}" class="text-dark">Sobre</a>
                    </li>
                    <li>
                        <a href="{% url 'cake:contato' %}" class="text-dark">Contato</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-dark">Contato</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="mailto:contato@cupcake.com" class="text-dark">Email: contato@cupcake.com</a>
                    </li>
                    <li>
                        <a href="tel:+551112345678" class="text-dark">Telefone: (11) 1234-5678</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 bg-dark text-white">
        © 2024 Cupcake. Todos os direitos reservados.
    </div>
</footer>
